<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anew">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".user_my_req">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tab2Fragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Tab1Fragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".service_man_req">

        </activity>
        <activity android:name=".addRequest" />
        <activity android:name=".profile" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user_request" />
        <activity android:name=".provider_request" />
        <activity android:name=".user_panel" />
        <activity android:name=".user_cpw" />
        <activity android:name=".provider_cpw" />
        <activity android:name=".provider_panel" />
        <activity android:name=".UserRequest" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".UsermapActivity" />
        <activity android:name=".userselect" />
        <activity android:name=".select" />
        <activity
            android:name=".serviceverification"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".serviceforgot"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".servicelogin"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".servicesignup"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".serviceprovider"
            android:theme="@style/AppTheme1" />
        <activity android:name=".User_serviceprovider" />
        <activity android:name=".feedback" />
        <activity android:name=".forgot" />
        <activity android:name=".termscondition" />
        <activity android:name=".cardview" />
        <activity
            android:name=".map"
            android:parentActivityName=".cardview" />
        <activity android:name=".verification" />
        <activity android:name=".view" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>